<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <script src="http://localhost:3000/socket.io/socket.io.js" ></script>
    <style>
        .recibido{
            color: blue;
        }

        .enviado{
            color: darkgreen;
        }
    </style>
</head>
<body>
    <input type="hidden" id="socketid" />
    <div id="nombre-online"></div>

    <div class="login">
        <input type="text" id="nombre">
        <button onclick="login()">Login</button>
    </div>

    <ul>
        <li>Users Online</li>
    </ul>

    <div class="chat-container">
        
        <!-- <div class="enviado">
            <span>-Mi Nombre-:</span> Msg
        </div> -->
        <div class="msg-container">

        </div>
        <textarea id="chat"></textarea>
        <button onclick="enviar()">Enviar</button>
    </div>


    <script>

        var ws = io.connect('http://localhost:3000');

        function login(){
            var nombre = $("#nombre").val();
            $("#nombre-online").html("Bienvenido, "+nombre);
            $(".login").hide();
            ws.emit('login',nombre);

        }

        ws.on('logged',(socketid)=>{ //Añadir lista de usuarios
            $("#socketid").val(socketid);
        });

        ws.on('userLst',(users)=>{ //Añadir lista de usuarios
            
            const socketid = $("#socketid").val();

            users.forEach(user => {
                if(user.socketID !== socketid && socketid !== ''){
                    let li = `<li id="${user.socketID}">${user.nombre}</li>`;
                    $("ul").append(li);
                }
            });

        });

        ws.on('newUser',(user)=>{//un usuario nuevo
            const socketid = $("#socketid").val();
            if(socketid !== ''){
                let li = `<li id="${user.socketID}">${user.nombre}</li>`;
                $("ul").append(li);
            }
        });

        function enviar(){
            const socketid = $("#socketid").val();
            const nombre = $("#nombre-online").html().replace('Bienvenido, ','');
            const msg = $("textarea").val();
            $("textarea").val("");

            let msgSend = `<div class="enviado">
                            <span>${nombre}:</span> ${msg}
                        </div>`;
            $(".msg-container").append(msgSend);

            ws.emit('enviarMSG',nombre,msg);
        }

        ws.on('recibirMSG',(nombre,msg)=>{
            console.log('recibo el siguiente mensaje',nombre,msg);
            let msgReceived = `<div class="recibido">
                            <span>${nombre}:</span> ${msg}
                        </div>`;
            $(".msg-container").append(msgReceived);
        });

        ws.on('userDisconnected',(user)=>{
            $("#"+user.socketID).remove();
        });

    </script>
</body>
</html>