<%- include('./partials/_header.ejs') %>
        <!-- body -->
        <div class="row">
            <div class="container">
                    <!-- tarjetas -->
                    <div class="row">
                        <div class="col-6">
                               <div class="container-fluid targeta">
                                        <div class="row">
                                                <div class="col-2">
                                                        <i class="fas fa-hand-holding-usd  "></i> 
                                                </div>
                                                <div class="col-10">
                                                        Ingresos del mes
                                                </div>
                                        </div>
                                        <div class="row">
                                                <div class="col-12">
                                                        $5,000.00
                                                </div>
                                        </div>
                               </div>
                        </div>
                        <div class="col-6">
                                <div class="container-fluid targeta targeta-egreso">
                                        <div class="row">
                                                <div class="col-2">
                                                        <i class="fas fa-money-bill-wave"></i>
                                                </div>
                                                <div class="col-10">
                                                        Egresos del mes
                                                </div>
                                        </div>
                                        <div class="row">
                                                <div class="col-12">
                                                        $500.00
                                                </div>
                                        </div>
                               </div>
                        </div>

                    </div>
                    <!-- listado -->
                    <div class="row">
                        <div class="container listado">
                        <% for(let i=0; i<5; i++){ %>
                              <div class="row">
                                      <div class="col-12">
                                              <%= 11-i %> de Noviembre
                                      </div>
                              </div>  
                              <% for(let i=0; i<3; i++){ %>
                              <div class="row">
                                      <div class="col-8">
                                              Pago de mensualidad automovil 13 de 48
                                      </div>
                                      <div class="col-4">
                                              -$2,500.00
                                      </div>
                              </div>
                              <%
                                        }
                                }
                              %>
                        </div>
                    </div>
            </div>
        </div>
<%- include('./partials/_footer.ejs') %>