body{
    background: #f2f2f2;
}

.encabezado{
    position: relative;
    background: rgb(196,251,161);
    background: linear-gradient(180deg, rgba(196,251,161,1) 0%, rgba(109,209,155,1) 100%);
}

.encabezado .circle{
    display: block;
    position: absolute;

    width: 200px;
    height: 200px;

    background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,0.40379901960784315) 0%, rgba(255,255,255,0.1516981792717087) 58%);    

    border-radius: 50%;

    bottom: 20px;
    right: 62%;
    
}

.encabezado .circle.last{
    bottom: 60%;
    left: 27%;
}

.encabezado img{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-top: 15px;
}

.encabezado .col-8{
    color:white;
    font-size: 1em;
    font-weight: 400;
    margin-left: -10px;
}

.encabezado i{
    color:white;
    font-size: 2.2em;
    font-weight: normal;
}

.encabezado .balance-general{
    color:white;
    margin-top: 18px;
}

.encabezado .balance-general-total{
    color: white;
    font-size: 2.7em;
    text-align: right;
}



/* CSS BODY */

.targeta{
    display: block;
    background: white;
    color: darkgreen;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.targeta.targeta-egreso{
    color: darkred;
}

.targeta i{
    font-size: 1.7em;
}


.targeta .col-10{
    font-size: 0.8em;
    font-weight: bold;
    text-align: right;
}

.targeta .col-12{
    font-size: 1.8em;
    text-align: right;
}

.listado{
    
    padding-top: 10px;
    padding-bottom: 15px;    
    background:white;
    border: 1px #ddd solid;
    margin: 8px;
    margin-bottom: 80px;
    border-radius: 5px;
}

.listado .col-12{
    color: rgb(86, 163, 122);
    font-size: 1.2em;
    margin-top: 10px;
}

.listado .col-8{
    color: #666;
    margin-top: 5px;
}

.listado .col-4{
    color: #666;
    margin-top: 5px;
    font-weight: bold;
}


/*CSS Footer*/
.pie{
    position: fixed;
    bottom: 0%;
    width: 100vw;
    background: white;
    border: 1px #ccc solid;
    text-align: center;
}

.pie i{
    color: #555;
    font-size: 1.6em;
    padding-top: 10px;
    margin-left: 14px;
}

.pie i.active{
    color:  rgba(109,209,155,1);
    font-size: 2.2em;
}

.pie .subtitulo{
    color: #555;
}

.pie .subtitulo.active{
    display: none;
}


