<%- include('partials/_header.ejs') %>

<div class="container container-fluid">

    <div class="row">
        <div class="col-md-12">
            <img class="bg-header" src="/img/bg.jpg" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-8">
            <form action="/add" method="POST" >
                <div class="input-group grupo-usuarios">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-user-friends"></i></div>
                    </div>
                  <input type="text" class="form-control usuarios" name="nombre" id="user" placeholder="Ingresa un nuevo invitado">
                  <div class="input-group-append">
                      <button type="submit" class="btn btn-success"><i class="fas fa-list"></i></button>
                  </div>
                </div>
            </form>

            <table class="table">
                <thead class="thead-dark">
                    <th scope="col">Invitado</th>
                    <th scope="col">Acepta</th>
                    <th scope="col">Rechaza</th>
                </thead>
                <tbody class="user-waitlist">

                    <%
                    
                        if(users){

                            users.forEach(user=>{ /* 0=sin confimar 1=aceptaron 2 = rechazaron */
                             if(user.confirmado === 0){
                    %>
                    <tr>
                        <th  scope="row"><%= user.nombre %></th>
                        <td> 
                            <a href="/accept/<%= user._id %>" class="btn btn-primary">
                                <i class="fas fa-user-check"></i>
                            </a>
                        </td>
                        <td> 
                            <a href="/reject/<%= user._id %>" class="btn btn-danger">
                                <i class="fas fa-times"></i>
                            </a>
                        </td>
                    </tr>            

                    <%
                                }
                            })

                        }
                    
                    %>



                </tbody>
            </table>
        </div>
        <div class="col-md-2">&nbsp;</div>
    </div>

    <div class="row">
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-8">

            
            <ul class="list-group">
                <li class="list-group-item active aceptados">Aceptados</li>
                <%
                    if(users){
                        users.forEach(user=>{
                            if(user.confirmado === 1){
                                %>
                                    <li class="list-group-item"><%= user.nombre %></li>
                                <%
                            }
                        })
                    }
                %>
                
            </ul>

        </div>
        <div class="col-md-2">&nbsp;</div>
    </div>

    <div class="row">
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-8">

            
            <ul class="list-group">
                <li class="list-group-item active rechazados">Rechazados</li>
                <%
                    if(users){
                        users.forEach(user=>{
                            if(user.confirmado === 2){
                                %>
                                    <li class="list-group-item"><%= user.nombre %></li>
                                <%
                            }
                        })
                    }
                %>
                
            </ul>

        </div>
        <div class="col-md-2">&nbsp;</div>
    </div>

</div>

<%- include('partials/_footer.ejs') %>