body{
    margin:0;
    padding: 0;
}

.container {
    width: 100vw;
    min-height: 100vh;
    height: 120%;
    margin: 0;
    padding: 0;

    background: #561300;

}

.bg-header{
    width: 100%;
    height: auto;
}

.grupo-usuarios{
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;
}

.usuarios{
    width: 80%;
}

table{
    width: 90% !important;
    margin-left: 5%;
    margin-top: 30px;
}

table tr{
    width: 100%;
}

table thead tr th:first-child{
    min-width: 250px;
}

.user-waitlist tr td, .user-waitlist tr th{
    background: white;
}


.user-waitlist tr th:first-child{
    min-width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.aceptados{
    background: darkgreen !important;
    border: 1px darkgreen !important;
}

.rechazados{
    background: darkred !important;
    border: 1px darkred !important;
}