
        <!-- footer -->
        <div class="row pie">
            <div class="col-1"></div>
            <div class="col-2">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <i class="fas fa-hand-holding-usd  "></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 subtitulo ">
                            Ingresos
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
            <div class="col-2">
                <i class="fas fa-home active"></i>
            </div>
            <div class="col-2"></div>
            <div class="col-2">                
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <i class="fas fa-money-bill-wave"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 subtitulo">
                            Egresos
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>


</body>
</html>