
    <%- include('partials/_header.ejs')  %>

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Contraseña</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <!-- for(let i=0; i<data.length; i++){ -->
                      <%
                        if(data){ 
                            data.forEach( user => {
                                    %>
                                        
                                        <tr>
                                            <td><%= user.id  %></td>
                                            <td><%= user.nombre %></td>
                                            <td><%= user.email %></td>
                                            <td><%= user.contrasena %></td>
                                            <td>
                                                <button class="btn btn-primary">Editar</button>
                                                &nbsp;
                                                <button class="btn btn-danger">Eliminar</button>
                                            </td>
                                        </tr>

                                    <%
                            });
                        }
                        %>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <form action="/add" method="POST">
                            <div class="form-group">
                                <input type="text" name="nombre" placeholder="Ingrese un Nombre..." class="form-control" />
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" placeholder="Ingrese un Email..." class="form-control" />
                            </div>
                            <div class="form-group">
                                <input type="password" name="contrasena" placeholder="Ingrese una Contraseña..." class="form-control" />
                            </div>
                            <button type="submit" class="btn btn-primary">Guardar Usuario</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3">&nbsp;</div>
        </div>
    </div>

    <%- include('partials/_footer.ejs')  %>